$primary_color: #0077ff;
$primary_color2: #00b0ff;

$normal_text: #333d4b;
$white_text: #f2f2f2;

$gray_text1: #e9ecef;
$gray_text2: #ced4da;
$gray_text3: #b0b8c1;

$warning_color: #ff4b4b;
$safe_color: #0cb8a6;
