@use '../styles/colors.module.scss' as colors;

@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
	src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
			format("embedded-opentype"),
		url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
			format("woff"),
		url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
			format("truetype");
}

// @mixin app-color() {
// 	background-color: colors.$white_text;
// 	@media (prefers-color-scheme: dark) {
// 		background-color: colors.$draked_background;
// 	}
// }

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR,
		Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
	color: #0077ff;
	font-weight: bold;
}

* {
	box-sizing: border-box;
	font-family: "NanumBarunGothic";
	font-weight: 400;
	font-weight: normal;
}

.special_text {
	color: #0076ffe6;
}

pre,
code {
	white-space: pre;
	overflow-x: auto;
}

.hljs {
	display: inline-block;
	overflow-x: scroll;
	padding: 0.5em;
	padding-right: 100%;
	background: #002b36;
	color: #839496;
	-webkit-text-size-adjust: none;
}

pre > code {
	font-family: "Consolas", monospace !important;
	line-height: 1.5;
	font-size: 14px;
	color: #f8f8f2;
	background: none;
}

pre {
	padding: 1rem;
	background: #282c34 !important;
	border-radius: 10px;
}

code {
	font-family: "Inconsolata", monospace !important;
	line-height: normal;
	background: rgba(135, 131, 120, 0.15);
	color: black;
	border-radius: 3px;
	font-size: 85%;
	padding: 0.2em 0.4em;
}

img {
	border-radius: "10px";
}

h1,
h2,
h3 {
	font-weight: bold;
}

blockquote {
	margin: 2rem 0px;
	border-left: 4px solid #0077ff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: rgb(248, 249, 250);
	padding: 1rem 1rem 1rem 2rem;
	color: rgb(33, 37, 41);
	& > p {
		padding-left: 2rem;
	}
}

strong {
	font-weight: bold;
}
