.container {
  padding: 0.3rem;
  border-radius: 50%;
  border: 1px solid rgb(173, 181, 189);
  display: flex;
  align-items: center;
  background: white;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  color: rgb(173, 181, 189);

  .unlikeBtn {
    display: flex;
    cursor: pointer;
    font-size: 2rem;
  }

  .likeBtn {
    display: flex;
    cursor: pointer;
    font-size: 2rem;
  }
}
