@use "../../../styles/colors.module.scss" as colors;

.container {
  padding: 1rem 3rem;
  .meta {
    .title {
      font-size: 32px;
      font-weight: bold;
      color: colors.$normal_text;
    }

    .info {
      display: flex;
      flex-direction: column;

      .profileInfo {
        padding: 1rem;
        background-color: colors.$gray_text1;
        border-radius: 10px;
        margin: 1rem 0;
        display: flex;
        height: 120px;

        .profile {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100px;
          border-radius: 50%;
          .profileImage {
            width: 58px;
            height: 58px;
            border-radius: 50%;
          }
          .username {
            font-weight: bold;
          }
          .subscribe {
            background-color: inherit;
            border: 1px solid colors.$primary_color;
            color: colors.$primary_color;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
          }
        }

        .intro {
          flex: 8;
          margin: 0;
          font-style: italic;
          padding-left: 2rem;
          font-size: 1.3rem;
          color: colors.$normal_text;
          height: 100%;
          overflow-y: auto;
          & > p {
            margin: 0;
          }
        }
      }

      .date {
        color: colors.$normal_text;
      }
    }
  }

  .content {
    width: 100%;

    padding: 1rem 6rem;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
