@use "../../../styles/colors.module.scss" as colors;

.header {
  display: flex;
  background-color: inherit;
  padding: 1rem 3rem;
  user-select: none;
  cursor: pointer;

  @media (max-width: 768px) {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .logo {
    line-height: 3rem;
    font-size: 26px;
    font-weight: lighter;
    font-family: ChosunBg;
    margin-right: 15rem;
    &::first-letter {
      color: colors.$primary_color;
    }
  }

  .menus {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
    }

    & > .menu {
      width: 80px;
      text-align: center;
      margin: 1rem 3rem;
      color: colors.$gray_text2;
      cursor: pointer;
      &:hover {
        color: colors.$normal_text;
      }

      .write {
        color: colors.$primary_color;
      }
    }

    .profile {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      .profileImage {
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }

      .userDropdown {
        position: absolute;
        top: 50px;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        overflow: hidden;
        & > li {
          transition: ease-in-out 0.2s;
          padding: 0.8rem 1.2rem;
          &:hover {
            background-color: colors.$gray_text1;
          }
        }
      }
    }
  }
}
