@use "../../../styles/colors.module.scss" as colors;

.container {
  margin: 1rem 0;
  background-color: white;
  border-radius: 20px;
  color: colors.$normal_text;
  position: relative;
  .meta {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    .username {
      margin: 0;
      padding: 0 1rem;
    }
    .profileImage {
      border-radius: 50%;
      width: 58px;
      height: 58px;
    }

    .date {
      color: colors.$primary_color2;
    }

    .editMode {
      position: absolute;
      top: 1rem;
      right: 1rem;
      & > button {
        background-color: inherit;
        padding: 0.5rem 0.7rem;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 5px;
      }
      .edit {
        border: 1px solid colors.$safe_color;
        color: colors.$safe_color;
      }
      .delete {
        border: 1px solid colors.$warning_color;
        color: colors.$warning_color;
      }
    }
  }

  .content {
    padding: 0 2rem;
  }

  .emotion {
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    background-color: colors.$gray_text1;
  }
}
