@use "../../../styles/colors.module.scss" as colors;

.container {
	padding: 1rem 0;
	max-width: 1000px;
	margin: 0 auto;

	@media (max-width: 768px) {
		padding: 1rem;
	}
}

.noData {
	user-select: none;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 3rem 0;
	img {
		width: 500px;
	}
}

.recomment {
	width: 100%;
	height: 100%;
	background-color: colors.$gray_text2;
	padding-left: 5rem;
	padding-right: 1rem;
}
