@use "../../../styles/colors.module.scss" as colors;

.container {
  padding: 1rem;

  .header {
    border-radius: 5px 5px 0 0;
    border: 1px solid #d0d7de;
    width: 100%;
    background-color: #f6f8fa;
    .menus {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      overflow: hidden;

      .active {
        background-color: #ffffff;
        border-radius: 5px 5px 0 0;
        font-weight: 600;
        border-left: 1px solid #d0d7de;
        border-right: 1px solid #d0d7de;
        &:first-child {
          border-left: none;
        }
      }

      & > li {
        display: flex;
        align-items: center;
        padding: 12px 24px;
        font-size: 14px;
        cursor: pointer;
        .icon {
          margin-right: 0.6rem;
        }
      }
    }
  }

  .editor {
    width: 100%;
    height: 80vh;
    border-radius: 0 0 5px 5px;
    border: 1px solid #d0d7de;
    border-top: none;

    .codeMirror {
      background: url(http://i.imgur.com/2cOaJ.png);
      background-attachment: local;
      background-repeat: no-repeat;
      padding-left: 35px;
      padding-top: 10px;
      border-color: #ccc;
      background-color: white;
      outline: none;
      width: 100%;
      height: 100%;
      resize: none;
      border: none;
    }

    .preview {
      padding: 1rem;
      height: 100%;
      overflow-y: auto;
    }
  }

  .metaContainer {
    display: flex;
    padding: 1rem 0.6rem;
    .profileImage {
      margin-right: 2rem;
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
    .meta {
      padding: 1.3rem;
      width: 90%;
      border-radius: 6px;
      border: 1px solid #d0d7de;
    }

    .titleContainer {
      & > h1 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .titleInput {
        outline: none;
        background-color: #f5f8fa;
        border: 1px solid #d0d7de;
        width: 100%;
        border-radius: 5px;
        padding: 5px 12px;
        font-size: 14px;
        &::placeholder {
          color: #6e7781;
        }
      }
    }
  }
  .options {
    margin-top: 1rem;

    & > button {
      border: 1px solid #1b1f2426;
      position: relative;
      display: inline-block;
      padding: 5px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      border-radius: 6px;
      margin-right: 5px;
      transition: ease-in-out 0.2s;
    }

    .notAllow {
      background-color: #7babe1;
      color: colors.$gray_text1;
      -webkit-backdrop-filter: grayscale(0.8);
      backdrop-filter: grayscale(0.8);
      cursor: no-drop;
    }
    .submit {
      background-color: colors.$primary_color;
      color: colors.$gray_text1;
    }
    .cancel {
      color: colors.$warning_color;

      &:hover {
        background-color: colors.$warning_color;
        color: colors.$gray_text1;
      }
    }
  }
}
